out.txt
node_modules
gh-pages/node_modules
*lock*
.stfolder
apply-colors-original.sh
.tmp

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix